.form-center {
  display: flex;
}

.form-group {
  padding: 1rem 0.75rem;
  flex: 1;
  /* 전체를 채우는 것 */
}

label {
  display: block;
  color: var(--secondColor);
  font-size: 1rem;
  text-transform: capitalize;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondColor);
  outline: none;
  height: 3rem;
  weight: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
}
